@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #FFFFFF
}

body {
  background: var(--background-primary)
}

.bg-grey {
  background-color: #F2F2F2;
}

.hover-bg-grey:hover {
  background-color: #EEEEEE;
}

.text-23 {
  font-size: 23px;
}

.text-30 {
  font-size: 30px;
}

.text-48 {
  font-size: 48px;
}

.text-64 {
  font-size: 64px;
}

.font-regular {
  font-weight: normal;
}

.font-light {
  font-weight: 300;
}

.text-entry-default-size {
  width: 430px;
  height: 65px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
