@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary: #FFFFFF
}

body {
  background: var(--background-primary);
}

.bg-grey {
  background-color: #F2F2F2;
}

.hover-bg-grey:hover {
  background-color: #EEEEEE;
}

.hover-text-grey:hover {
  color: #D9D9D9;
}

.text-16 {
  font-size: 16px;
}

.text-20 {
  font-size: 20px;
}

.text-23 {
  font-size: 23px;
}

.text-24 {
  font-size: 23px;
}

.text-25 {
  font-size: 25px;
}

.text-30 {
  font-size: 30px;
}

.text-48 {
  font-size: 48px;
}

.text-64 {
  font-size: 64px;
}

.text-border {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #000;
  padding-left: 0.5rem; /* Equivalent to 2 * 0.25rem */
  padding-right: 0.5rem; /* Equivalent to 2 * 0.25rem */
  line-height: 1rem; /* Equivalent to 16px */

}

.font-x-light {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: normal;
}

.font-medium {
  font-weight: 500;
}

.text-black-50 {
  color: #0000007F;
}

.text-purple {
  color: #7C5FF8;
}

.text-red {
  color: #FF0000;
}

.border-red-alert {
  border-width: 2px;
  border-color: #FF0000;
}

.border-black {
  border-width: 2px;
  border-color: #000000;
}

.hover-bg-black:hover {
  background-color: #0000007F;
}

.disable-button {
  background-color: #F2F2F2;
  color:  #0000007F;
}

.text-entry-default-size {
  width: 430px;
  height: 65px;
}

.text-entry-large-size {
  width: 430px;
  height: 115px;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 100px 0;
  }
}

.loading-animation {
  animation: shimmer 3s infinite ease-in-out;
  background-color: #ddd;  /* Adjust as needed */
  background-image: linear-gradient(to right, #ddd 0%, #ececec 20%, #ddd 40%, #ececec 60%, #ddd 80%, #ececec 100%);  /* Lighter shade for shimmer */
  background-size: 200px 100%;  /* Must be same size as animation */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
